<footer class="bg-dark text-white mt-auto py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>HRMS</h5>
                <p class="small">
                    Enterprise-grade Django application.
                </p>
            </div>
            <div class="col-md-6 text-md-end">
                <small>
                    &copy; {% now "Y" %}
                    All Rights Reserved.
                </small>
            </div>
        </div>
    </div>
</footer>